@{
    ViewBag.Title = "Main Page";
}

<div>
    <div>
        <div>
            <table width="100%" border="1">
                <caption>Loaded archives</caption>
                @foreach (var archive in ViewBag.Archives)
                {
                    <tr>
                        <th>@archive</th>
                        <th><a href="/Home/LoadFile">Load</a></th>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
