@{
    ViewBag.Title = "Main Page";
}

<div>
    <div>
        <div>
            <table width="100%" border="1">
                <caption>Loaded archives</caption>
                <form  action="/Home/Index">
                    @foreach (var archive in ViewBag.Archives)
                    {
                    <tr>
                        <th><input type="text" name="archive" value="@archive.Key" /></th>
                        <th> <input type="submit" value="Отправить" /> </th>
                    </tr>
                    }
                </form>

</table>
        </div>
    </div>
</div>
