@{
    ViewBag.Title = "Main Page";
}

<div>
    <div>
        <div>
            <table width="100%" border="1">
                <caption>Loaded archives</caption>
                @foreach (var archive in (Dictionary<string, bool>)Session["Archives"])
                {
                    <tr>
                        <th>@archive.Key"</th>
                        <th>@(Html.ActionLink("Load", "Index", new { archive = archive.Key }))</th>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
