@{
    ViewBag.Title = "Main Page";
}

<div>
    <div>
        <div>
            <table width="100%" border="1">
                <caption>Loaded archives</caption>
                <tr>
                    @foreach (var archive in ViewBag.Archives)
                    {
                        <th>@archive.ArchiveName</th>
                        <th><a href="/Home/LoadFile">Load</a></th>
                    }
                </tr>
            </table>
        </div>
    </div>
</div>
